{%extends 'base.html'%}
{%block content%}
<br />
<div class="row">
    <div class="col-2">
        <img src="{{prod.icon.url}}" class="img-fluid" />
    </div>
    <div class="col-10">
        <a href="{{prod.url }}"><h1>{{prod.title}}</h1></a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-8">
        <img src="{{prod.image.url}}" class="img-fluid" />
    </div>
    <div class="col-4 text-right ">
        <a href="javascript:{document.getElementById('upvote').submit()}"><button class="btn btn-primary btn-lg btn-block"><span class="oi oi-caret-top"></span> Upvote {{ prod.votes_total }}</button></a>
    </div>
</div>
<br />
<div class="row">
    <div class="col-4">
        <h4><span class="oi oi-magnifying-glass"></span> Hunted by {{prod.hunter.username}}</h4>
    </div>
    <div class="col-4 text-right">
        <h4><span class="oi oi-clock"></span> {{prod.pub_date_pretty}}</h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-8">
        <p>{{prod.body}}</p>
    </div>
    
</div>

<form id="upvote" method="POST" action="{% url 'upvote' prod.id %}">
    {% csrf_token%}
    <input type="hidden">
</form>

{%endblock%}